<h2>
    PLANO DE GERENCIAMENTO DE RESÍDUOS SÓLIDOS
</h2>
<h4>
    SUBSEÇÕES JUDICIÁRIAS DA JUSTIÇA FEDERAL DE PRIMEIRO GRAU EM SÃO PAULO
</h4>

<mat-card appearance="outlined" class="card" class="card">
    <mat-card-header>
        <mat-card-title class="card">
            Apresentação
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>{{paragrafos[0].texto}}</p>
        <p>{{paragrafos[1].texto}}</p>
        <p>{{paragrafos[2].texto}}</p>
        <p>{{paragrafos[3].texto}}</p>
        <p>{{paragrafos[4].texto}}</p>
        <p>{{paragrafos[5].texto}}</p>
        <p>{{paragrafos[6].texto}}</p>
    </mat-card-content>
</mat-card>
<br>
<mat-card appearance="outlined" class="card">
    <mat-card-header>
        <mat-card-title class="card">
            Siglas
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>{{paragrafos[7].texto}}</p>
        <p>{{paragrafos[8].texto}}</p>
        <p>{{paragrafos[9].texto}}</p>
        <p>{{paragrafos[10].texto}}</p>
        <p>{{paragrafos[11].texto}}</p>
        <p>{{paragrafos[12].texto}}</p>
        <p>{{paragrafos[13].texto}}</p>
        
    </mat-card-content>
</mat-card>
<br>
<mat-card appearance="outlined" class="card">
    <mat-card-header>
        <mat-card-title class="card">
            Descrição do Empreendimento
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p><strong>Informações Básicas</strong></p>
        <p>{{paragrafos[14].texto}} {{pgrs['area']}}</p>
        <p>{{paragrafos[15].texto}} (****)</p>
        <p>{{paragrafos[16].texto}} (****)</p>
        <p>{{paragrafos[17].texto}} {{pgrs['telefone']}}</p>
        <p>{{paragrafos[18].texto}} {{pgrs['email']}}</p>
        <p>{{paragrafos[19].texto}} (****)</p>
        <p>{{paragrafos[20].texto}} (****)</p>
        <p>{{paragrafos[21].texto}} (****)</p>
        <p>{{paragrafos[22].texto}} (****)</p>
        <p>{{paragrafos[23].texto}} (****)</p>
        <p><strong>Estrutura Física</strong></p>
        <p>{{paragrafos[24].texto}} {{pgrs['area_construida']}}</p>
        <p>{{paragrafos[25].texto}} {{pgrs['desc_edificio']}}</p>
        <p><strong>Dados do Responsável pela implementação do PGRS</strong></p>
        <p>{{paragrafos[26].texto}} {{pgrs['nome_completo']}}</p>
        <p>{{paragrafos[27].texto}} {{pgrs['cargo']}}</p>
        <p>{{paragrafos[28].texto}} {{pgrs['telefone']}}</p>
        <p>{{paragrafos[29].texto}} {{pgrs['email_1']}}</p>
    </mat-card-content>
</mat-card>
<br>
<mat-card appearance="outlined" class="card">
    <mat-card-header>
        <mat-card-title class="card">
            Justificativa
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>{{paragrafos[30].texto}}</p>
        <p>{{paragrafos[31].texto}}</p>
        <p>{{paragrafos[32].texto}}</p>
        <p>{{paragrafos[33].texto}}</p>
        <p>{{paragrafos[34].texto}}</p>
        <p>{{paragrafos[35].texto}}</p>        
    </mat-card-content>
</mat-card>
<br>
<mat-card appearance="outlined" class="card">
    <mat-card-header>
        <mat-card-title class="card">
            Legislação Aplicável
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>{{paragrafos[37].texto}}</p>        
        <p>{{paragrafos[38].texto}}</p>        
        <p>{{paragrafos[39].texto}}</p>        
        <p>{{paragrafos[40].texto}}</p>        
        <p>{{paragrafos[41].texto}}</p>        
        <p>{{paragrafos[42].texto}}</p>        
        <p>{{paragrafos[43].texto}}</p>        
        <p>{{paragrafos[44].texto}}</p>        
        <p>{{paragrafos[45].texto}}</p>        
        <p>{{paragrafos[46].texto}}</p>        
        <p>{{paragrafos[47].texto}}</p>        
        <p>{{paragrafos[48].texto}}</p>        
        <p>{{paragrafos[49].texto}}</p>        
        <p>{{paragrafos[50].texto}}</p>        
        <p>{{paragrafos[51].texto}}</p>        
    </mat-card-content>
</mat-card>
<br>
<mat-card appearance="outlined" class="card">
    <mat-card-header>
        <mat-card-title class="card">
            Objetivos
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <ul><strong>Objetivo Geral</strong>
            <li>{{paragrafos[52].texto}}</li>
        </ul>
        <ul><strong>Objetivos Específicos</strong>
            <li>{{paragrafos[53].texto}}</li>
            <li>{{paragrafos[54].texto}}</li>
            <li>{{paragrafos[55].texto}}</li>
            <li>{{paragrafos[56].texto}}</li>
            <li>{{paragrafos[57].texto}}</li>
            <li>{{paragrafos[58].texto}}</li>
        </ul>
        
    </mat-card-content>
</mat-card>
<br>
<mat-card appearance="outlined" class="card">
    <mat-card-header>
        <mat-card-title class="card">
            Gerenciamento de Resíduos Sólidos
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p><strong>Características e classificação dos resíduos</strong></p>
        <p>{{paragrafos[59].texto}}</p>
        <div style="padding-left: 100px;">
            <p>{{paragrafos[60].texto}}</p>
            <p>{{paragrafos[61].texto}}</p>
            <p>{{paragrafos[62].texto}}</p>
            <p>{{paragrafos[63].texto}}</p>
            <p>{{paragrafos[64].texto}}</p>
            <p>{{paragrafos[65].texto}}</p>
            <p>{{paragrafos[66].texto}}</p>
            <p>{{paragrafos[67].texto}}</p>
            <p>{{paragrafos[68].texto}}</p>
            <p>{{paragrafos[69].texto}}</p>
            <p>{{paragrafos[70].texto}}</p>
            <p>{{paragrafos[71].texto}}</p>
            <p>{{paragrafos[72].texto}}</p>
            <p>{{paragrafos[73].texto}}</p>
            <p>{{paragrafos[74].texto}}</p>
            <p>{{paragrafos[75].texto}}</p>
        </div>
        <p>{{paragrafos[76].texto}}</p>
        <p>{{paragrafos[77].texto}}</p>
        <p>{{paragrafos[78].texto}}</p>
        <p>{{paragrafos[79].texto}}</p>
        <p>{{paragrafos[80].texto}}</p>
        <p>{{paragrafos[81].texto}}</p>
        <!-- <p>{{paragrafos[82].texto}}</p>
        <p>{{paragrafos[83].texto}}</p> -->
    </mat-card-content>
</mat-card>
<br>
<mat-card appearance="outlined" class="card">
    <mat-card-header>
        <mat-card-title class="card">
            Segregação, coleta, armazenamento e destinação  
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <br>
        <strong>Resíduos Perigosos</strong>
        <p>{{paragrafos[82].texto}}</p>
        <p>{{paragrafos[83].texto}}</p>
    </mat-card-content>
</mat-card>
<br>
<mat-card appearance="outlined" class="card">
    <mat-card-header>
        <mat-card-title class="card">
            Pilhas e baterias  
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>{{paragrafos[84].texto}}</p>
        <p>{{paragrafos[85].texto}}</p>
        <p>
            <input type="checkbox" [checked]="true"/>
            {{paragrafos[86].texto}}
        </p>
        <p>
            <input type="checkbox" [checked]="false"/>
            {{paragrafos[87].texto}}
        </p>
        <p>{{paragrafos[88].texto}}</p>
        <p>
            <input type="checkbox" [checked]="checked" />
            {{paragrafos[89].texto}}
        </p>
        <p>
            <input type="checkbox" />
            {{paragrafos[90].texto}}
        </p>
        <p>
            <input type="checkbox" />
            {{paragrafos[91].texto}}
        </p>
        <p>
            <input type="checkbox" />
            {{paragrafos[92].texto}}
        </p>
        <p>
            {{ pgrs['pilhas_baterias'] }}
        </p>
        <app-medicao-anual anos="2022, 2023, 2024" unidade="Quantidade gerada em quilogramas"></app-medicao-anual>
    </mat-card-content>
</mat-card>
<br>
<mat-card appearance="outlined" class="card">
    <mat-card-header>
        <mat-card-title class="card">
            Lâmpadas fluorescentes, de vapor de sódio e mercúrio e luz mista   
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>{{paragrafos[93].texto}}</p>
        <p>
            <input type="checkbox" checked/>
            {{paragrafos[94].texto}}
        </p>
        <p>
            <input type="checkbox" />
            {{paragrafos[95].texto}}
        </p>
        <p>
            <input type="checkbox" />
            {{paragrafos[96].texto}}
        </p>
        <app-medicao-anual anos="2022, 2023, 2024" unidade="Quantidade gerada em unidades"></app-medicao-anual>
        <p>
            <input type="checkbox" />
            {{paragrafos[97].texto}}
        </p>
        <p>
            <input type="checkbox" checked/>
            {{paragrafos[98].texto}}
        </p>
        <p>
            <input type="checkbox" />
            {{paragrafos[99].texto}}
        </p>
        <p>
            <input type="checkbox" checked/>
            {{paragrafos[100].texto}}
        </p>
        <p>
            <input type="checkbox" />
            {{paragrafos[101].texto}}
        </p>
    </mat-card-content>
</mat-card>
<br>
<mat-card appearance="outlined" class="card" *ngIf="pgrs['area'] ==='São Paulo - Sede Administrativa'">
    <mat-card-header>
        <mat-card-title class="card">
            Resíduos de serviços de saúde
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>{{paragrafos[102].texto}}</p>
        <p>{{paragrafos[103].texto}}</p>
        <p>{{paragrafos[104].texto}}</p>
        <p>{{paragrafos[105].texto}}</p>
        <app-medicao-mensal anos="2022, 2023, 2024" unidade="Quantidade gerada em litros"></app-medicao-mensal>
    </mat-card-content>
</mat-card>
<br>
<mat-card appearance="outlined" class="card">
    <mat-card-header>
        <mat-card-title class="card">
            Resíduos da construção civil   
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>{{paragrafos[106].texto}}</p>
        <p>
            <input type="checkbox" checked/>
            {{paragrafos[107].texto}}
        </p>
        <p>
            <input type="checkbox" />
            {{paragrafos[108].texto}}
        </p>
        <p>
            <input type="checkbox" />
            {{paragrafos[109].texto}}
        </p>
        <p>
            <input type="checkbox" checked/>
            {{paragrafos[110].texto}}
        </p>
        <app-medicao-mensal anos="2022, 2023, 2024" unidade="Quantidade gerada em quilogramas"></app-medicao-mensal>
        <br>
        <app-empresa-ecoponto classe="Empresa"></app-empresa-ecoponto>
    </mat-card-content>
</mat-card>
<br>
<mat-card appearance="outlined" class="card">
    <mat-card-header>
        <mat-card-title class="card">
            Recicláveis
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            <input type="checkbox" checked/>
            {{paragrafos[113].texto}}
        </p>
        <p>
            <input type="checkbox" checked/>
            {{paragrafos[114].texto}}
        </p>
    </mat-card-content>
</mat-card>
<br>
<mat-card appearance="outlined" class="card">
    <mat-card-header>
        <mat-card-title class="card">
            Recicláveis - Destinação
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            <input type="checkbox" checked/>
            {{paragrafos[115].texto}}
        </p>
        <app-cooperativa></app-cooperativa>
        <p>
            <input type="checkbox"/>
            {{paragrafos[116].texto}}
        </p>
        <p>
            <input type="checkbox" checked/>
            {{paragrafos[117].texto}}
        </p>
        <app-empresa-ecoponto classe="Ecoponto"></app-empresa-ecoponto>
        <p>
            <input type="checkbox"/>
            {{paragrafos[118].texto}}
        </p>
    </mat-card-content>
</mat-card>
<br>
<mat-card appearance="outlined" class="card">
    <mat-card-header>
        <mat-card-title class="card">
            Recicláveis - Papel
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            {{paragrafos[119].texto}}
        </p>
        <p>
            <input type="checkbox" checked/>
            {{paragrafos[120].texto}}
        </p>
        <app-medicao-mensal anos="2023, 2024, 2025" unidade="Quantidade gerada em quilogramas"></app-medicao-mensal>
        <p>
            {{paragrafos[121].texto}}
        </p>
    </mat-card-content>
</mat-card>
<br>
<mat-card appearance="outlined" class="card">
    <mat-card-header>
        <mat-card-title class="card">
            Recicláveis - Plástico
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            {{paragrafos[122].texto}}
        </p>
        <p>
            <input type="checkbox" checked/>
            {{paragrafos[123].texto}}
        </p>
        <app-medicao-mensal anos="2023, 2024, 2025" unidade="Quantidade gerada em quilogramas"></app-medicao-mensal>
    </mat-card-content>
</mat-card>
<br>
<mat-card appearance="outlined" class="card">
    <mat-card-header>
        <mat-card-title class="card">
            Recicláveis - Metais
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            {{paragrafos[124].texto}}
        </p>
        <p>
            <input type="checkbox" checked/>
            {{paragrafos[125].texto}}
        </p>
        <app-medicao-mensal anos="2023, 2024, 2025" unidade="Quantidade gerada em quilogramas"></app-medicao-mensal>
    </mat-card-content>
</mat-card>
<br>
<mat-card appearance="outlined" class="card">
    <mat-card-header>
        <mat-card-title class="card">
            Recicláveis - Vidros
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            {{paragrafos[126].texto}}
        </p>
        <p>
            <input type="checkbox" checked/>
            {{paragrafos[127].texto}}
        </p>
        <app-medicao-mensal anos="2023, 2024, 2025" unidade="Quantidade gerada em quilogramas"></app-medicao-mensal>
    </mat-card-content>
</mat-card>
<br>
<mat-card appearance="outlined" class="card">
    <mat-card-header>
        <mat-card-title class="card">
            Recicláveis - Outros Recicláveis
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            <input type="checkbox" />
            {{paragrafos[128].texto}}
        </p>
        <p>
            <input type="checkbox" checked/>
            {{paragrafos[129].texto}}
        </p>
        <p>
            <input type="checkbox" />
            {{paragrafos[130].texto}}
        </p>
        <p>
            <input type="checkbox" checked/>
            {{paragrafos[131].texto}}
        </p>
        <p>
            <input type="checkbox" />
            {{paragrafos[132].texto}}
        </p>
        <app-medicao-mensal anos="2023, 2024, 2025" unidade="Quantidade gerada em quilogramas ou litros"></app-medicao-mensal>
        <p>
            {{paragrafos[133].texto}}
        </p>
        <p>
            {{paragrafos[134].texto}}
        </p>
    </mat-card-content>
</mat-card>
<br>
<mat-card appearance="outlined" class="card">
    <mat-card-header>
        <mat-card-title class="card">
            Não Recicláveis - Orgânicos
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            {{paragrafos[135].texto}}
        </p>
        <p>
            <input type="checkbox" checked/>
            {{paragrafos[136].texto}}
        </p>
        <app-medicao-mensal anos="2023, 2024, 2025" unidade="Quantidade gerada em litros"></app-medicao-mensal>
        <p>
            {{paragrafos[137].texto}}
        </p>
        <app-empresa-ecoponto classe="Empresa"></app-empresa-ecoponto>
    </mat-card-content>
</mat-card>
<br>
<mat-card appearance="outlined" class="card">
    <mat-card-header>
        <mat-card-title class="card">
            Não Recicláveis - Rejeitos
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            {{paragrafos[138].texto}}
        </p>
        <p>
            <input type="checkbox" checked/>
            {{paragrafos[139].texto}}
        </p>
        <app-medicao-mensal anos="2023, 2024, 2025" unidade="Quantidade gerada em litros"></app-medicao-mensal>
        <p>
            {{paragrafos[140].texto}}
        </p>
        <app-empresa-ecoponto classe="Empresa"></app-empresa-ecoponto>
    </mat-card-content>
</mat-card>
<br>
<mat-card appearance="outlined" class="card">
    <mat-card-header>
        <mat-card-title class="card">
            Etapas PGRS - Segregação/Separação
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            {{paragrafos[141].texto}}
        </p>
        <p>
            {{paragrafos[142].texto}}
        </p>
        <p>
            {{paragrafos[143].texto}}
        </p>
        <p>
            {{paragrafos[144].texto}}
        </p>
        <p>
            {{paragrafos[145].texto}}
        </p>
        <p>
            {{paragrafos[146].texto}}
        </p>
        <p>
            {{paragrafos[147].texto}}
        </p>
        <p>
            {{paragrafos[148].texto}}
        </p>
        <br>
        <p>
            {{paragrafos[149].texto}}
        </p>
        <div style="padding-left: 80px;">
            <li>
                {{paragrafos[150].texto}}
            </li>
            <li>
                {{paragrafos[151].texto}}
            </li>
            <li>
                {{paragrafos[152].texto}}
            </li>
            <li>
                {{paragrafos[153].texto}}
            </li>
        </div>
        <p>
            {{paragrafos[154].texto}}
        </p>
        <p>
            {{paragrafos[155].texto}}
        </p>
    </mat-card-content>
</mat-card>
<br>
<mat-card appearance="outlined" class="card">
    <mat-card-header>
        <mat-card-title class="card">
            Etapas PGRS - Coleta e transporte interno
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            {{paragrafos[156].texto}}
        </p>
        <p>
            <input type="checkbox" checked/>
            {{paragrafos[157].texto}}
        </p>
        <p>
            {{paragrafos[158].texto}}
        </p>
    </mat-card-content>
</mat-card>
<br>
<mat-card appearance="outlined" class="card">
    <mat-card-header>
        <mat-card-title class="card">
            Etapas PGRS - Armazenamento temporário
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            {{paragrafos[159].texto}}
        </p>
        <p>
            <input type="checkbox" checked/>
            {{paragrafos[160].texto}}
        </p>
        <p>
            <input type="checkbox"/>
            {{paragrafos[161].texto}}
        </p>
        <p>
            {{paragrafos[162].texto}}
        </p>
    </mat-card-content>
</mat-card>
<br>
<mat-card appearance="outlined" class="card">
    <mat-card-header>
        <mat-card-title class="card">
            Etapas PGRS - Coleta, transporte externo e destinação final 
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            {{paragrafos[163].texto}}
        </p>
        <p>
            <input type="checkbox" checked/>
            {{paragrafos[164].texto}}
        </p>
        <p>
            <input type="checkbox"/>
            {{paragrafos[165].texto}}
        </p>
        <p>
            <input type="checkbox" checked/>
            {{paragrafos[166].texto}}
        </p>
        <p>
            <input type="checkbox"/>
            {{paragrafos[167].texto}}
        </p>
        <p>
            <input type="checkbox" checked/>
            {{paragrafos[168].texto}}
        </p>
        <p>
            {{paragrafos[169].texto}}
        </p>
    </mat-card-content>
</mat-card>
<br>
<mat-card appearance="outlined" class="card">
    <mat-card-header>
        <mat-card-title class="card">
            Sensibilização, Comunicação e Capacitação 
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            {{paragrafos[170].texto}}
        </p>
        <div style="padding-left: 80px;">
            <li>
                {{paragrafos[171].texto}}
            </li>
            <li>
                {{paragrafos[172].texto}}
            </li>
            <li>
                {{paragrafos[173].texto}}
            </li>
            <li>
                {{paragrafos[174].texto}}
            </li>
            <li>
                {{paragrafos[175].texto}}
            </li>
        </div>
    </mat-card-content>
</mat-card>
