<table style="width: 100%;border: 1px solid white; border-collapse: collapse; text-align: center;" border="1">
    <tr>
        <td colspan="3">
            Frequência de Medição: anual &nbsp;&nbsp;&nbsp;&nbsp; || &nbsp;&nbsp;&nbsp;&nbsp;
            {{ unidade }}
        </td>
    </tr>
    <tr>
        <th>
            2023
        </th>
        <th>
            2024
        </th>
        <th>
            2025
        </th>
    </tr>
    <tr>
        <td>
            50
        </td>
        <td>  
            100  
        </td>
        <td>   
            200 
        </td>
    </tr>
</table>